/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
* {
  color: #ffffffcc;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  background-color: #111219;
}

p {
  line-height: 1.5;
}
.flexBox a {
  font-size: 1.5rem;
  text-decoration: none;

  font-size: 1.25rem;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-text {
  font-family: Libre Baskerville, Serif;
  font-weight: 400;
  color: #ffffffbf;
  text-align: center;
  padding: 200px 20px 20px 20px;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  font-size: 80px;
  line-height: 99px;
  letter-spacing: -2px;

  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
  .hero-text span {
    font-family: Libre Baskerville, Serif;
    font-weight: 400;
    color: #ffffffbf;
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
    span:nth-child(1) {
      animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(2) {
      animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(3) {
      animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(4) {
      animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(5) {
      animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(6) {
      animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(7) {
      animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(8) {
      animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(9) {
      animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(10) {
      animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(11) {
      animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(12) {
      animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(13) {
      animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(14) {
      animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(15) {
      animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(16) {
      animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(17) {
      animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(18) {
      animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    @keyframes fade-in {
      100% {
        opacity: 1;
        filter: blur(0);
      }
    }

h2 {
  font-weight: 400;
}

main {
  position: relative;
  text-align: center;
  background: center url(https://images.unsplash.com/photo-1598585774711-f7638e3e3520?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2655&q=80);
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  padding: 2.5vh 2.5vw 2.5vh 2.5vw;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teaser {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: -110px;
  padding: 20px 20px 20px 200px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  user-select: none;
  -webkit-user-select: none;
  cursor: default;

}
.sideDescription {
  z-index: 2;
  position: absolute;
  bottom: 65px;
  right: 50px;
  font-size: 16px;
  color: #ffffffcc;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.flexBox:after {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  background: linear-gradient(180deg,rgba(20,22,30,0),#111219);
  mix-blend-mode: normal;
}

.imgTitle {
  font-weight: 400;
  font-size: 2rem;
}
.description {
  height: 650px;
  background-color: #111219;
  padding: 15vh 15vw 10vh 15vw;
}
  .imgTitle {
    padding-bottom: 2rem;
  }
  .explanation {
    padding-bottom: 2rem;
  }


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  display: none;
}
input {
  background-color: #0d1314b0;
  border: 1px solid transparent;
  height: 50px; 
  width: 165px;
  padding: 10px 17.5px;
  border-radius: 10px;
  color-scheme: dark;
  margin-right: 20px;
  transition: background-color .2s ease-in-out;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
input:hover{
  background-color: #111219;
}

button {
  background-color: #0d1314b0;
  border: 1px solid transparent;
  height: 50px; 
  width: 150px;
  padding: 10px 17.5px;
  border-radius: 10px;
  transition: background-color .2s ease-in-out;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
button:hover {
  background-color: #111219;
  cursor: pointer;
}

@media screen and (max-width: 645px) {
  .hero-text {
    padding: 100px 20px 20px 20px;
    font-size: 60px;
    line-height: 1.25;
  }
  input {
    margin: 0;
    width: 70%;
    margin-bottom: 5px
  }
  button {
    width: 70%;
  }
  .description {
    height: 1150px;
  }

}